html{
	overflow-x:hidden;
	overflow-y:auto;
}
body{
	width:100vw;
	overflow:hidden;
	padding-left:calc(100vw-100%);
}
.wrapper .main .name1 h2{
	border: 2px solid beige;
    font-size: 30px;
    background-color: gray;
    color: white;
    padding-left: 10px;
}
.main .pane h3{/*自我介绍文字*/
     overflow: auto;/*如果它溢出了元素的内容区，来判断左右边缘是否裁剪，visible，不裁剪内容科能会显示在内容框之外。hidden，裁剪内容-不提供滚动机制。
    scroll，裁剪内容提供滚动机制。auto，如果溢出框则应该提供滚动机制。no-display,如果内容不适合内容框则删除整个框。*/
     padding-left:10px;
	 padding-right:30px;
     line-height: 35px;/*行高*/
}
.main .pane img{
	border:2px solid beige;
	width:80%;
	height:10%;
	padding-left:150px;
	padding-right:150px;
}
.wrapper .main .name2 h2{
	border: 2px solid beige;
    font-size: 30px;
    background-color: gray;
    color: white;
    padding-left: 10px;
}
.wrapper .main pane1{
    border: 1px solid red;/*制作一个框架*/
	height:410px;
    display: inline-block;/*将对象呈递为内联对象，旁边的内联对象会被呈递在同一行内*/
    background-color:beige ;/*框架内背景颜色*/
    text-indent: 60px;/*缩进*/
    padding-top: 100px;/*填充上*/
    padding-bottom: 100px;/*填充下*/
}
.main .pane1 img{/*简历照片*/
     float: left;/*浮动向左*/
     width: 500px;/*宽*/
     height: 400px;/*高*/
     overflow: auto;/*如果它溢出了元素的内容区，来判断左右边缘是否裁剪，visible，不裁剪内容科能会显示在内容框之外。hidden，裁剪内容-不提供滚动机制。
    scroll，裁剪内容提供滚动机制。auto，如果溢出框则应该提供滚动机制。no-display,如果内容不适合内容框则删除整个框。*/
     padding-right:50px ;/*填充右*/
     padding-left: 60px;/*填充左*/
}
.main .pane1 h3{/*自我介绍文字*/
     border:2px soild beige;
	 height:410px;
     overflow: auto;/*如果它溢出了元素的内容区，来判断左右边缘是否裁剪，visible，不裁剪内容科能会显示在内容框之外。hidden，裁剪内容-不提供滚动机制。
    scroll，裁剪内容提供滚动机制。auto，如果溢出框则应该提供滚动机制。no-display,如果内容不适合内容框则删除整个框。*/
     padding-right: 60px;/*填充右*/
     line-height: 35px;/*行高*/
}
.wrapper .main .name3 h2{
	border: 2px solid beige;
    font-size: 30px;
    background-color: gray;
    color: white;
    padding-left: 10px;
	padding-top:20px;
}
.wrapper .main .pane2 h3{
	border: 2px solid beige;
    background-color: gray;
    color: white;
    padding-left: 10px;
}
.wrapper .main .pane2 img{
	 border: 10px solid #FFFFFF;
     overflow:auto ;
     width: 360px;/*宽*/
     height: 500px;/*高*/
     margin-left:60px;
}
.wrapper .main .pane2 embed{
	border: 10px solid #FFFFFF;
     overflow:auto ;
     width: 60%;/*宽*/
     height: 15%px;/*高*/
     margin-left:60px;
	 margin-right:60px;
}

